.parallax {
    background-image: url(The_Library.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    padding: 30px;
    margin: 0px;
    filter: brightness(80%) saturate(90%) contrast(150%);
    display: block;
    
}

#fademe {
    opacity: 0;
    transition: 1s;
}

#logomain {
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    filter: saturate(180%)
}

.padding {
    padding: 300px;
}

.gallery {
    text-align: center;
    z-index: 2;
}

.scrollcontent {
    padding: 0px;
    background-color: #242223;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.pagetitles {
    margin: 0px;
    color: white;
    font-family: "Lucida Console", sans-serif;
    font-size: 45px;
    text-align: center;
    letter-spacing: 20px;
    border: 2px solid white;
}

.divide {
    background-color: black;
}

#mainh1 {
    padding-top: 0px;
    padding-bottom: 250px;
}

.abouth1 {
    padding-top: 400px;
    padding-bottom: 300px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.abouttxt {
    color: white;
    font-family: 'Lato';
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    max-width: 700px;
    margin: 0px auto 0px auto;
    padding: 27px;
    letter-spacing: 2px;
}

#profile {
    display: block;
    margin: 20px auto 20px auto;
    padding: 0px;
    border-radius: 50%;
}

#logo {
    z-index: 2;
    height: inherit;
}

#navmenu {
    margin: 0px;
    font-family: "Lucida Console", sans-serif;
    height: inherit;
}

.navigation{
    text-align: right;
    display: inline;
    vertical-align: middle;
    font-size: 24px;
}

.navigation li {
    display: inline;
}

.navigation li a {
    display: inline-block;
    padding: 0 30px 0;
    text-decoration: none;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: linear;
}

@media screen and (max-width: 1200px) {
    .navigation {
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .navigation {
        font-size: 18px;
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header-stuff {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 120px;
    line-height: 120px;
}


.tab:link {
    color: antiquewhite;

}

.tab:visited{
    color: #BEA380;
}

.tab:hover {
    background-color: firebrick;
    
}

.maintxt {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
    max-width: 500px;
    font-size: 18px;
    letter-spacing: 2.5px;
    font-weight: 300;
    line-height: 40px;
}

.container {
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.imglink {
    filter: brightness(80%) contrast(150%) saturate(120%);
    transition: all .3s ease;
    object-fit: cover;
    padding: 10px;
}

.container:hover .imglink {
    filter: brightness(50%) contrast(150%) saturate(120%) blur(4px);
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms- transform: translate(-50%, -50%);
    
}

.container:hover .middle {
    opacity: 1;
    
}

.imglinktext a{
    color: antiquewhite;
    font-size: 35px;
    font-family: "Lucida Console", sans-serif;
    text-decoration: none;
    
}

.medialinks {
    font-size: 30px;
    text-align: center;
    background: black;
}

.fa {
  padding: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: .7;
}

.fa-twitter {
    background-color: cornflowerblue;
    color: white;
}

.fa-youtube {
    background-color: crimson;
    color: white;
}

.fa-instagram {
    background-color: #c2444f;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0px;
    
}

.column img {
    vertical-align: middle;
    width:100%;
}

.artcontainer {
    position: relative;
}

.artcontainer:hover .arttitle {
    opacity: 1;
}

.arttitle {
    position: absolute;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.7);
    color: white;
    width: 100%;
    transition: .3s ease;
    opacity: 0;
    font-size: 20px;
    padding: 5px 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.arttitle p {
    font-size: 12px;
}

.line {
    display: block;
    height: 2px;
    margin: 6px auto 6px;
    padding: 0px;
    position: relative;
    width: 25%;
    background: white;
    
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.triangle-down {
	width: 0;
	height: 0;
    display: block;
    margin: 0 auto 10px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid white;    
}

.bighead {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    margin: 20px auto 20px;
}

.workcontent {
    width: 66%;
    display: block;
    margin: 20px auto 10px;
}

.worktxt {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

.skillscontent {
    background: black;
    padding: 40px 20px 60px;
    margin: 50px auto 50px;
    max-width: 75%;
    display: block;
    text-align: center;
    
}

.skilltitle {
    color: white;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 5px 60px 10px;
    text-align: center;
    font-size: 20px;
}